@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

nav ul li {
  @apply py-2 sm:px-4 sm:py-0;
}

.container-fixed {
  width: 100%;
  max-width: 1024px;
  @apply mx-auto p-4
}

.input {
  @apply border border-gray-300 px-2 py-1 rounded-md focus:outline-none focus:border-blue-500;
}

#main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.books-grid a {
  @apply border border-gray-300 rounded-md p-5;
  width: 300px;
}

.books-grid article img {
 @apply rounded-md;
}

.auth {
  width: 100%;
  max-width: 400px;
  @apply mx-auto;
}

.auth-field {
  @apply input block w-full mb-3 h-10;
}

.primary-button {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded disabled:opacity-75;
}

.error {
  @apply border border-red-400 text-red-700 p-4 rounded-md mb-4;
}

#book-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.checkout-button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-75;
}

#payment-form input {
  display: block;
  @apply mb-2;
}
